:root {
    --main-color-primary: #CCCCCC;
    --main-color-secondary: #a4a4a4;
    --second_color: #FF3434;
    --support_color: #737272;
    --text-primary: #2b2b2b;
    --text-secondary: #4E4E4E;
    font-size: 16px;
    --transition-speed: 600ms;
    --animego_color: #ff5c57;
    --crunchyroll_color: rgb(244, 117, 33);
    --hidive_color: rgba(0, 174, 240, 1);
    --hidive_color-dark: rgb(0, 95, 133);
    --funimation_color: #6030a1;
  }