{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/cards.css" />
<cards>
    {% for item in links.keys() %}
    <card>
        <div style="background-image: url({{img[item][0]}});" class="card-img">
        </div>
        <div class="card-line"></div>
        <div class="title">{{item}}</div>
        <div class="card-links">
            {% for  i in links[item] %}
            <div class="card-link">
                <a href="{{ i }}">
                    {% if "animego" in  i %}
                    <img title="free ru" src="static\img\animego.png" width="32" height="32" alt="animego.com">
                    {% elif "zoro.to" in  i %}
                    <img title="free en" src="static\img\zoroto.png" width="32" height="32" alt="zoro.to">
                    {% elif "crunchyroll" in  i %}
                    <img title="premium en" src="static\img\crunchyroll-icon.png" width="32" height="32" alt="crunchyroll.com">
                    {% elif "funimation" in  i %}
                    <img title="premium en" src="static\img\funimation-icon.png" width="32" height="32" alt="funimation.com">
                    {% elif "hidive" in  i %}
                    <img title="premium en" src="static\img\hidive-icon.png" width="32" height="32" alt="hidive.com">
                    {% elif "wakanim" in  i %}
                    <img title="premium fr" src="static\img\wakanim-icon.png" width="32" height="32" alt="hidive.com">
                    {% endif %}
                </a>
            </div>
            {% endfor %}
        </div>
    </card>
    {% endfor %}
</cards>

{% endblock %}